<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  .header--container {
    -webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,.2));
    -moz-filter: drop-shadow(4px 4px 4px rgba(0,0,0,.2));
    -ms-filter: drop-shadow(4px 4px 4px rgba(0,0,0,.2));
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,.2));
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
  }
  .header-wrapper {
    transition: all .5s cubic-bezier(.88,.03,.13,1.01);
  }
  
  .header-wrapper.hide--to-top {
    top: -80px;
  }
  
  .bg--blur {
    -webkit-clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 calc(100% - 15px), 0 0);
    -moz-clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 calc(100% - 15px), 0 0);
    -ms-clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 calc(100% - 15px), 0 0);
    clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 calc(100% - 15px), 0 0);
  }
  
  .header-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    background: transparent;
  }
  
  header-drawer {
    justify-self: start;
    width: 100%;
  }
  
  .header {
    transition: background 0.2s ease-in-out;
  }
  
  .shopify-section-header-sticky .header {
    background: rgba(255, 255, 255, 0.4);
  }

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: inline-block;
    width: 100%;
  }
  
  .menu-drawer-container .mobile--icon svg {
    width: 30px;
    height: 30px;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .list-menu.list-menu--inline li {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .list-menu.list-menu--inline li:last-child {
    margin-right: 0;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2em;
    font-family: var(--font-secondary-family);
    font-weight: 600;
/*     line-height: calc(1 + 0.3 / var(--font-body-scale)); */
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
    
    .header--wrapper {
      clip-path: polygon(100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 25px 100%, 0 calc(100% - 25px), 0 0);
    }
  }

/*
  @media screen and (max-width: 989px){
    .header__icons .header__search {
        display: block !important;
    }
  }
  */
</style>

{%- style -%}
  .section-header {
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" fill="none" enable-background="new 0 0 96 96" height="40" viewBox="0 0 130 130" width="40">
    <path fill-rule="evenodd" clip-rule="evenodd" fill="currentColor" d="m49.557 18.444c.781.781.781 2.047 0 2.828-.391.391-.902.586-1.414.586s-1.023-.195-1.414-.586c-7.02-7.019-18.438-7.019-25.457 0-.781.781-2.047.781-2.828 0s-.781-2.047 0-2.828c8.577-8.578 22.535-8.578 31.113 0zm40.443 63.556c0 2.137-.832 4.146-2.344 5.656-1.51 1.512-3.519 2.344-5.656 2.344s-4.146-.832-5.656-2.344l-21-21c-.781-.781-.781-2.047 0-2.828l2.828-2.828-4.435-4.435c-5.28 4.623-12.184 7.435-19.737 7.435-16.542 0-30-13.458-30-30s13.458-30 30-30 30 13.458 30 30c0 7.553-2.812 14.457-7.435 19.737l4.435 4.435 2.828-2.828c.781-.781 2.047-.781 2.828 0l21 21c1.512 1.51 2.344 3.519 2.344 5.656zm-30-48c0-14.336-11.663-26-26-26s-26 11.664-26 26 11.663 26 26 26 26-11.664 26-26zm26 48c0-1.068-.416-2.072-1.172-2.828l-19.586-19.586-5.656 5.656 19.586 19.586c1.512 1.512 4.145 1.512 5.656 0 .756-.756 1.172-1.76 1.172-2.828z"/>
  </symbol>
  <symbol id="icon-profile" fill="none" enable-background="new 0 0 96 96" height="90" viewBox="0 0 96 96" width="90">
    <g id="Layer_2" data-name="Layer 2">
      <path fill-rule="evenodd" clip-rule="evenodd" fill="currentColor" d="m16 17.5a6 6 0 1 1 6-6 6 6 0 0 1 -6 6zm0-10a4 4 0 1 0 4 4 4 4 0 0 0 -4-4z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" fill="currentColor" d="m16 31.5a15 15 0 0 1 -11.59-5.5l-.52-.64.52-.63a15 15 0 0 1 23.18 0l.52.63-.52.64a15 15 0 0 1 -11.59 5.5zm-9.49-6.12a13 13 0 0 0 19 0 13 13 0 0 0 -19 0z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" fill="currentColor" d="m16 31.5a15 15 0 1 1 11.59-5.5 15 15 0 0 1 -11.59 5.5zm0-28a13 13 0 1 0 13 13 13 13 0 0 0 -13-13z"/>
      <circle fill-rule="evenodd" clip-rule="evenodd" fill="currentColor" cx="17.94" cy="25.38" r="1"/>
      <circle fill-rule="evenodd" clip-rule="evenodd" fill="currentColor" cx="14.06" cy="25.38" r="1"/>
    </g>
  </symbol>
  {% comment %}
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>
  {% endcomment %}
  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor"></path>
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <div class="page-width-desktop header--width">
    <div class="header--container">
      <div class="header--wrapper">
        <div class="bg--blur">
          <header class="header header--{{ section.settings.logo_position }}{% if section.settings.menu != blank %} header--has-menu{% endif %}">
            <div class="header-top">
            {%- if section.settings.menu != blank -%}
              <header-drawer data-breakpoint="tablet">
                <style>
                  .header__icon .mobile--icon {
                    width: 30px;
                    height: 30px;
                  }
                  .header__icon.header__icon--menu .mobile--icon {
                    width: 30px;
                  }

                  .header__icon .mobile--icon.search-icon-wrapper {
                    
                  }

                  .header__icon .mobile--icon #search-icon {
                    max-width: 3rem;
                    max-height: 3rem;
                  }
                  
                  .header__icon.header__icon--search #search {
                    width: 30px;
                    height: 30px;
                  }
                  
                  .header__icon.header__icon--search #search:hover {
                    transform: scale(1.04);
                  }
                  
                  .header__icon.header__icon--menu {
                    
                    width: 100%;
                    position: relative;
                    
                  }
                  
                  .header__icon.header__icon--menu .mobile--icon {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                  }
                  
                  .header__icon.header__icon--menu .mobile--icon.search-icon-wrapper {
                    left: 45px;
                  }
                  
                  .header__icon.header__icon--menu .mobile--icon:last-child {
                    margin-right: 0;
                  }
                  
                  @media screen and (max-width: 990px) {
/*                     .header__icon.header__icon--profile {
                      margin-right: 15px;
                    } */
                  }
                  
                </style>
                <details id="Details-menu-drawer-container" class="menu-drawer-container">
                  <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
                    <span class="mobile--icon">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 384.97 384.97" style="enable-background:new 0 0 384.97 384.97;" xml:space="preserve"><g><g id="Menu_1_"><path d="M12.03,120.303h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03c-6.641,0-12.03,5.39-12.03,12.03C0,114.913,5.39,120.303,12.03,120.303z"/><path d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03S379.58,180.455,372.939,180.455z"/><path d="M372.939,264.667H132.333c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h240.606c6.641,0,12.03-5.39,12.03-12.03C384.97,270.056,379.58,264.667,372.939,264.667z"/></g><g></g><g></g><g></g><g></g><g></g><g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>

                      {% render 'icon-close' %}
                    </span>
                    {% comment %}
                    <span class="mobile--icon search-icon-wrapper mobile-nav-active-hide">
                      <svg id="search-icon" enable-background="new 0 0 96 96" height="512" viewBox="3 3 86 86" width="512" xmlns="http://www.w3.org/2000/svg"><path id="Search" d="m49.557 18.444c.781.781.781 2.047 0 2.828-.391.391-.902.586-1.414.586s-1.023-.195-1.414-.586c-7.02-7.019-18.438-7.019-25.457 0-.781.781-2.047.781-2.828 0s-.781-2.047 0-2.828c8.577-8.578 22.535-8.578 31.113 0zm40.443 63.556c0 2.137-.832 4.146-2.344 5.656-1.51 1.512-3.519 2.344-5.656 2.344s-4.146-.832-5.656-2.344l-21-21c-.781-.781-.781-2.047 0-2.828l2.828-2.828-4.435-4.435c-5.28 4.623-12.184 7.435-19.737 7.435-16.542 0-30-13.458-30-30s13.458-30 30-30 30 13.458 30 30c0 7.553-2.812 14.457-7.435 19.737l4.435 4.435 2.828-2.828c.781-.781 2.047-.781 2.828 0l21 21c1.512 1.51 2.344 3.519 2.344 5.656zm-30-48c0-14.336-11.663-26-26-26s-26 11.664-26 26 11.663 26 26 26 26-11.664 26-26zm26 48c0-1.068-.416-2.072-1.172-2.828l-19.586-19.586-5.656 5.656 19.586 19.586c1.512 1.512 4.145 1.512 5.656 0 .756-.756 1.172-1.76 1.172-2.828z"/></svg>
                    </span>
                    {% endcomment %}



                  </summary>
                  {% comment %}
                  <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
                    <div class="menu-drawer__inner-container">
                      <div class="menu-drawer__navigation-container">
                        <nav class="menu-drawer__navigation">
                          <ul class="menu-drawer__menu list-menu" role="list">
                            {%- for link in section.settings.menu.links -%}
                              <li>
                                {%- if link.links != blank -%}
                                  <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                                    <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                                      {{ link.title | escape }}
                                      {% render 'icon-arrow' %}
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                                      <div class="menu-drawer__inner-submenu">
                                        <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                          {% render 'icon-arrow' %}
                                          {{ link.title | escape }}
                                        </button>
                                        <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                          {%- for childlink in link.links -%}
                                            <li>
                                              {%- if childlink.links == blank -%}
                                                <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                  {{ childlink.title | escape }}
                                                </a>
                                              {%- else -%}
                                                <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                                  <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                                    {{ childlink.title | escape }}
                                                    {% render 'icon-arrow' %}
                                                    {% render 'icon-caret' %}
                                                  </summary>
                                                  <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                                    <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                                      {% render 'icon-arrow' %}
                                                      {{ childlink.title | escape }}
                                                    </button>
                                                    <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                                      {%- for grandchildlink in childlink.links -%}
                                                        <li>
                                                          <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                            {{ grandchildlink.title | escape }}
                                                          </a>
                                                        </li>
                                                      {%- endfor -%}
                                                    </ul>
                                                  </div>
                                                </details>
                                              {%- endif -%}
                                            </li>
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                    </div>
                                  </details>
                                {%- else -%}
                                  <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                                    {{ link.title | escape }}
                                  </a>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </nav>
                        <div class="menu-drawer__utility-links">
                          {%- if shop.customer_accounts_enabled -%}
                            <a aria-label="hidden" href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
                              {% render 'icon-account' %}
                              {%- liquid
                                if customer
                                  echo 'customer.account_fallback' | t
                                else
                                  echo 'customer.log_in' | t
                                endif
                              -%}
                            </a>
                          {%- endif -%}
                          <ul class="list list-social list-unstyled" role="list">
                            {%- if settings.social_twitter_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                                  {%- render 'icon-twitter' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                                </a>
                              </li>
                            {%- endif -%}
                            {%- if settings.social_facebook_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                                  {%- render 'icon-facebook' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                                </a>
                              </li>
                            {%- endif -%}
                            {%- if settings.social_pinterest_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                                  {%- render 'icon-pinterest' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                                </a>
                              </li>
                            {%- endif -%}
                            {%- if settings.social_instagram_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                                  {%- render 'icon-instagram' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                                </a>
                              </li>
                            {%- endif -%}
                            {%- if settings.social_tiktok_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                                  {%- render 'icon-tiktok' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                                </a>
                              </li>
                            {%- endif -%}
                            {%- if settings.social_tumblr_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                                  {%- render 'icon-tumblr' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                                </a>
                              </li>
                            {%- endif -%}
                            {%- if settings.social_snapchat_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                                  {%- render 'icon-snapchat' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                                </a>
                              </li>
                            {%- endif -%}
                            {%- if settings.social_youtube_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                                  {%- render 'icon-youtube' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                                </a>
                              </li>
                            {%- endif -%}
                            {%- if settings.social_vimeo_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                                  {%- render 'icon-vimeo' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                                </a>
                              </li>
                            {%- endif -%}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endcomment %}
                </details>

                

                  
                <span class="mobile--icon search-icon-wrapper mobile-nav-active-hide">
                  <details-modal class="header__search">
                    <details>
                      <summary class="header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
                        <span>

                          <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation" id="search" enable-background="new 0 0 96 96" height="512" viewBox="3 3 86 86" width="512" xmlns="http://www.w3.org/2000/svg"><path id="Search" d="m49.557 18.444c.781.781.781 2.047 0 2.828-.391.391-.902.586-1.414.586s-1.023-.195-1.414-.586c-7.02-7.019-18.438-7.019-25.457 0-.781.781-2.047.781-2.828 0s-.781-2.047 0-2.828c8.577-8.578 22.535-8.578 31.113 0zm40.443 63.556c0 2.137-.832 4.146-2.344 5.656-1.51 1.512-3.519 2.344-5.656 2.344s-4.146-.832-5.656-2.344l-21-21c-.781-.781-.781-2.047 0-2.828l2.828-2.828-4.435-4.435c-5.28 4.623-12.184 7.435-19.737 7.435-16.542 0-30-13.458-30-30s13.458-30 30-30 30 13.458 30 30c0 7.553-2.812 14.457-7.435 19.737l4.435 4.435 2.828-2.828c.781-.781 2.047-.781 2.828 0l21 21c1.512 1.51 2.344 3.519 2.344 5.656zm-30-48c0-14.336-11.663-26-26-26s-26 11.664-26 26 11.663 26 26 26 26-11.664 26-26zm26 48c0-1.068-.416-2.072-1.172-2.828l-19.586-19.586-5.656 5.656 19.586 19.586c1.512 1.512 4.145 1.512 5.656 0 .756-.756 1.172-1.76 1.172-2.828z"/></svg>

                          <svg style="width: 100%; height: 100%;" class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                            <use href="#icon-close"></use>
                          </svg>
                        </span>
                      </summary>
                      <div class="search-modal modal__content  mobile--devices" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
                        <div class="modal-overlay"></div>
                        <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
                          
                          <div class="header-title--close">
                            <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                              <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                                <use href="#icon-close"></use>
                              </svg>
                            </button>
                            <h3 style="font-weight: bold;">Search Product</h3>
                          </div>
                          
                          <div class="top-border-nav">
                          </div>

                          {%- if settings.predictive_search_enabled -%}
                            <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                          {%- endif -%}
                            <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                              <div class="field">
                                <button style="left: 0; width: 32px; height: 100%;" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                                  <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                                    <use href="#icon-search"></use>
                                  </svg>
                                </button>
                                <input class="search__input field__input"
                                  style="padding-left: 45px;"
                                  id="Search-In-Modal-1"
                                  type="search"
                                  name="q"
                                  value=""
                                  placeholder="{{ 'general.search.search' | t }}"
                                  {%- if settings.predictive_search_enabled -%}
                                    role="combobox"
                                    aria-expanded="false"
                                    aria-owns="predictive-search-results-list"
                                    aria-controls="predictive-search-results-list"
                                    aria-haspopup="listbox"
                                    aria-autocomplete="list"
                                    autocorrect="off"
                                    autocomplete="off"
                                    autocapitalize="off"
                                    spellcheck="false"
                                  {%- endif -%}
                                >
                                <label style="padding-left: 22px;" class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                                <input type="hidden" name="options[prefix]" value="last">
                              </div>
      
                              {%- if settings.predictive_search_enabled -%}
                                <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                                  <div class="predictive-search__loading-state">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                  </div>
                                </div>
      
                                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                              {%- endif -%}
                            </form>
                          {%- if settings.predictive_search_enabled -%}
                            </predictive-search>
                          {%- endif -%}
                        </div>
                      </div>
                    </details>
                  </details-modal></span>
                  


              </header-drawer>
            {%- endif -%}

            {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
              <details-modal class="header__search">
                <details>
                  <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
                    <span>
                      <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation" id="search" enable-background="new 0 0 96 96" height="512" viewBox="3 3 86 86" width="512" xmlns="http://www.w3.org/2000/svg"><path id="Search" d="m49.557 18.444c.781.781.781 2.047 0 2.828-.391.391-.902.586-1.414.586s-1.023-.195-1.414-.586c-7.02-7.019-18.438-7.019-25.457 0-.781.781-2.047.781-2.828 0s-.781-2.047 0-2.828c8.577-8.578 22.535-8.578 31.113 0zm40.443 63.556c0 2.137-.832 4.146-2.344 5.656-1.51 1.512-3.519 2.344-5.656 2.344s-4.146-.832-5.656-2.344l-21-21c-.781-.781-.781-2.047 0-2.828l2.828-2.828-4.435-4.435c-5.28 4.623-12.184 7.435-19.737 7.435-16.542 0-30-13.458-30-30s13.458-30 30-30 30 13.458 30 30c0 7.553-2.812 14.457-7.435 19.737l4.435 4.435 2.828-2.828c.781-.781 2.047-.781 2.828 0l21 21c1.512 1.51 2.344 3.519 2.344 5.656zm-30-48c0-14.336-11.663-26-26-26s-26 11.664-26 26 11.663 26 26 26 26-11.664 26-26zm26 48c0-1.068-.416-2.072-1.172-2.828l-19.586-19.586-5.656 5.656 19.586 19.586c1.512 1.512 4.145 1.512 5.656 0 .756-.756 1.172-1.76 1.172-2.828z"/></svg>
                    </span>
                  </summary>
                  <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
                    <div class="modal-overlay"></div>
                    <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
                      {%- if settings.predictive_search_enabled -%}
                        <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                      {%- endif -%}
                        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                          <div class="field">
                            <input class="search__input field__input"
                              id="Search-In-Modal-1"
                              type="search"
                              name="q"
                              value=""
                              placeholder="{{ 'general.search.search' | t }}"
                              {%- if settings.predictive_search_enabled -%}
                                role="combobox"
                                aria-expanded="false"
                                aria-owns="predictive-search-results-list"
                                aria-controls="predictive-search-results-list"
                                aria-haspopup="listbox"
                                aria-autocomplete="list"
                                autocorrect="off"
                                autocomplete="off"
                                autocapitalize="off"
                                spellcheck="false"
                              {%- endif -%}
                            >
                            <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                            <input type="hidden" name="options[prefix]" value="last">
                            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                              <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                                <use href="#icon-search"></use>
                              </svg>
                            </button>
                          </div>

                          {%- if settings.predictive_search_enabled -%}
                            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                              <div class="predictive-search__loading-state">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                </svg>
                              </div>
                            </div>

                            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                          {%- endif -%}
                        </form>
                      {%- if settings.predictive_search_enabled -%}
                        </predictive-search>
                      {%- endif -%}
                      <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                        <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                          <use href="#icon-close"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </details>
              </details-modal>
            {%- endif -%}

            {%- if request.page_type == 'index' -%}
              <h1 class="header__heading mobile-nav-active-hide">
            {%- endif -%}
                <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
                  {%- if section.settings.logo != blank -%}
                    {%- assign image_size = section.settings.logo_width | append: 'x' -%}
                    <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                      src="{{ section.settings.logo | img_url: image_size }}"
                      loading="lazy"
                      class="header__heading-logo"
                      width="{{ section.settings.logo.width }}"
                      height="{{ section.settings.logo.height }}"
                      alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
                    >
                  {%- else -%}
                    <span class="h2">{{ shop.name }}</span>
                  {%- endif -%}
                </a>
            {%- if request.page_type == 'index' -%}
              </h1>
            {%- endif -%}

            {%- if section.settings.menu != blank -%}
              <nav class="header__inline-menu">
                <ul class="list-menu list-menu--inline" role="list">
                  {%- for link in section.settings.menu.links -%}
                    <li class="menu-item parent-link">
                      {%- if link.links != blank -%}
                        <a href="#" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                          <span {% if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        </a>
                      <div class="list-menu-content">
                        <ul class="list-child">
                          {%- for childlink in link.links -%}
                          {% if childlink.title contains 'Default-Collection-1' %}
                            {%- assign chlid_collection_name = childlink.url | replace: '/collections/', '' -%}
                            {% assign Default_Collection_1 = collections[chlid_collection_name] %}
                          {% elsif childlink.title contains 'Default-Collection-2' %}
                            {%- assign chlid_collection_name = childlink.url | replace: '/collections/', '' -%}
                            {% assign Default_Collection_2 = collections[chlid_collection_name] %}
                          {% endif %}
                          <li class="{% if childlink.title contains 'Default-' %}default hide{% endif %}">
                            <h2 class="child-header">{{ childlink.title | escape }}</h2>
                            <ul class="grand-child">
                              {%- for grandchildlink in childlink.links -%}
                              {%- assign collection_name = grandchildlink.url | replace: '/collections/', '' -%}
                              <li data-collection-url="{{ collections[collection_name].url }}" data-collection-products="{{ collections[collection_name].products_count }}" data-collection-title="{{ collections[collection_name].title }}" data-collection-img="{{ collections[collection_name].image | img_url: 'medium' }}"><a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a></li>
                              {%- endfor -%}
                            </ul>
                          </li>
                          {%- endfor -%}
                        </ul>
                        <div class="mega-thumbs-container">
                          <div class="main--thumbs thumbs--images" data-collection-url="{{ Default_Collection_1.url }}" data-collection-products="{{ Default_Collection_1.products_count }}" data-collection-title="{{ Default_Collection_1.title }}" data-collection-img="{{ Default_Collection_1.image | img_url: 'medium' }}">
                            <div class="clip--corner clip--corner-corner-10">
                              <a href="{{ Default_Collection_1.url }}">
                              <figure>
                                <img src="{{ Default_Collection_1.image | img_url: 'large' }}"/>
                              </figure>
                              <div class="thumbs--info">
                                  <h2 class="thumbs--title">{{ Default_Collection_1.title }}</h2>
                              </div>
                              </a>
                            </div>
                          </div>
                          <div class="secondary--thumbs thumbs--images" data-collection-url="{{ Default_Collection_2.url }}" data-collection-products="{{ Default_Collection_2.products_count }}" data-collection-title="{{ Default_Collection_2.title }}" data-collection-img="{{ Default_Collection_2.image | img_url: 'medium' }}">
                            <div class="clip--corner clip--corner-corner-10">
                              <a href="{{ Default_Collection_2.url }}">
                              <figure>
                                <img src="{{ Default_Collection_2.image | img_url: 'large' }}"/>
                              </figure>
                              <div class="thumbs--info">
                                  <h2 class="thumbs--title">{{ Default_Collection_2.title }}</h2>
                              </div>
                              </a>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      {%- else -%}
                        <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                          <span {% if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        </a>

                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </nav>
            {%- endif -%}

            <div class="header__icons mobile-nav-active-hide">
              
              <a aria-label="hidden" href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--profile link focus-inset" id="account-icon">
                <svg height="512" viewBox="0 -1 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><g id="Layer_2" data-name="Layer 2"><path d="m16 17.5a6 6 0 1 1 6-6 6 6 0 0 1 -6 6zm0-10a4 4 0 1 0 4 4 4 4 0 0 0 -4-4z"/><path d="m16 31.5a15 15 0 0 1 -11.59-5.5l-.52-.64.52-.63a15 15 0 0 1 23.18 0l.52.63-.52.64a15 15 0 0 1 -11.59 5.5zm-9.49-6.12a13 13 0 0 0 19 0 13 13 0 0 0 -19 0z"/><path d="m16 31.5a15 15 0 1 1 11.59-5.5 15 15 0 0 1 -11.59 5.5zm0-28a13 13 0 1 0 13 13 13 13 0 0 0 -13-13z"/><circle cx="17.94" cy="25.38" r="1"/><circle cx="14.06" cy="25.38" r="1"/></g></svg>
              </a>

              <div class="header__search--desk link" style="width: 32px;
              height: 32px;
              margin-right: 10px;">
                <svg style="width: 100%; height: 100%;" id="search" enable-background="new 0 0 96 96" height="512" viewBox="3 3 86 86" width="512" xmlns="http://www.w3.org/2000/svg"><path id="Search" d="m49.557 18.444c.781.781.781 2.047 0 2.828-.391.391-.902.586-1.414.586s-1.023-.195-1.414-.586c-7.02-7.019-18.438-7.019-25.457 0-.781.781-2.047.781-2.828 0s-.781-2.047 0-2.828c8.577-8.578 22.535-8.578 31.113 0zm40.443 63.556c0 2.137-.832 4.146-2.344 5.656-1.51 1.512-3.519 2.344-5.656 2.344s-4.146-.832-5.656-2.344l-21-21c-.781-.781-.781-2.047 0-2.828l2.828-2.828-4.435-4.435c-5.28 4.623-12.184 7.435-19.737 7.435-16.542 0-30-13.458-30-30s13.458-30 30-30 30 13.458 30 30c0 7.553-2.812 14.457-7.435 19.737l4.435 4.435 2.828-2.828c.781-.781 2.047-.781 2.828 0l21 21c1.512 1.51 2.344 3.519 2.344 5.656zm-30-48c0-14.336-11.663-26-26-26s-26 11.664-26 26 11.663 26 26 26 26-11.664 26-26zm26 48c0-1.068-.416-2.072-1.172-2.828l-19.586-19.586-5.656 5.656 19.586 19.586c1.512 1.512 4.145 1.512 5.656 0 .756-.756 1.172-1.76 1.172-2.828z"/></svg>
              </div>

              <div class="search-pop-desk">
                <div class="top-border-nav">
                </div>
                {%- if settings.predictive_search_enabled -%}
                            <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                          {%- endif -%}
                            <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                              <div class="field">
                                <button style="left: 0; width: 32px; height: 100%;" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                                  <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                                    <use href="#icon-search"></use>
                                  </svg>
                                </button>
                                <input class="search__input field__input"
                                  style="padding-left: 45px;"
                                  id="Search-In-Modal-1"
                                  type="search"
                                  name="q"
                                  value=""
                                  placeholder="{{ 'general.search.search' | t }}"
                                  {%- if settings.predictive_search_enabled -%}
                                    role="combobox"
                                    aria-expanded="false"
                                    aria-owns="predictive-search-results-list"
                                    aria-controls="predictive-search-results-list"
                                    aria-haspopup="listbox"
                                    aria-autocomplete="list"
                                    autocorrect="off"
                                    autocomplete="off"
                                    autocapitalize="off"
                                    spellcheck="false"
                                  {%- endif -%}
                                >
                                <label style="padding-left: 22px;" class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                                <input type="hidden" name="options[prefix]" value="last">
                              </div>
      
                              {%- if settings.predictive_search_enabled -%}
                                <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                                  <div class="predictive-search__loading-state">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                  </div>
                                </div>
      
                                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                              {%- endif -%}
                            </form>
                          {%- if settings.predictive_search_enabled -%}
                            </predictive-search>
                          {%- endif -%}
              </div>

              <div class="icon--wishlist">
                <svg class="heart">
                  <use href="#heart"></use>
                </svg>
                <span class="wishlist--bubble hidden"></span>
              </div>
                            
              <div class="wishlist-nav">

                <div class="top-border-nav">
                </div>
                <div class="wishlist--title">
                  <h2>Your Wishlist</h2>
                </div>
                <div class="wishlist-silder">
                  <div class="wishlist-swiper" style="padding-right: 8px; overflow: hidden;">
                    <div class="swiper-wrapper">
                      
                    </div>
                  </div>
                  <div class="slide-button-prev slider-control">
                    <svg class="desk-svg" width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M26.0002 52C39.8073 52 52 39.8073 52 26.0002C52 12.1932 39.8073 0 26.0002 0C12.1932 0 0 12.1932 0 26.0002C0.015564 39.8008 12.1992 51.9844 26.0002 52ZM26.0002 3.50029C38.4266 3.50029 48.5002 13.5738 48.5002 26.0002C48.5002 38.4266 38.4266 48.5002 26.0002 48.5002C13.5738 48.5002 3.50029 38.4266 3.50029 26.0002C3.51448 13.5798 13.5798 3.51448 26.0002 3.50029Z" fill="black"/>
                      <path d="M29.471 35.9997C29.769 36.0063 30.0617 35.9199 30.3084 35.7524C30.555 35.5849 30.7433 35.3446 30.8472 35.0652C30.951 34.7857 30.9652 34.4809 30.8877 34.193C30.8103 33.9051 30.6451 33.6486 30.4151 33.4589L21.6381 25.9399L30.4151 18.4235C30.5742 18.3066 30.7074 18.1581 30.8065 17.9872C30.9055 17.8164 30.9683 17.6269 30.9907 17.4307C31.0131 17.2345 30.9948 17.0358 30.9369 16.847C30.879 16.6582 30.7828 16.4834 30.6542 16.3335C30.5256 16.1837 30.3674 16.0621 30.1896 15.9762C30.0118 15.8903 29.8182 15.842 29.6208 15.8344C29.4235 15.8268 29.2267 15.8599 29.0428 15.9318C28.8589 16.0038 28.6919 16.1129 28.5521 16.2525L18.5033 24.8501C18.3455 24.9848 18.2188 25.152 18.1319 25.3403C18.045 25.5287 18 25.7338 18 25.9412C18 26.1487 18.045 26.3537 18.1319 26.5421C18.2188 26.7305 18.3455 26.8978 18.5033 27.0324L28.5521 35.6384C28.8059 35.8639 29.1315 35.9921 29.471 36V35.9997Z" fill="black"/>
                    </svg>
                    <svg class="mobile-svg" width="30" height="16" viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M28.8281 6.82812H4.0103L8.12147 2.73687C8.5802 2.28031 8.58196 1.53834 8.12539 1.07961C7.66883 0.620816 6.9268 0.619117 6.46807 1.07562L0.344788 7.16937C0.344378 7.16972 0.344085 7.17013 0.343733 7.17048C-0.113825 7.62705 -0.11529 8.37142 0.343616 8.82951C0.344026 8.82986 0.344319 8.83027 0.344671 8.83062L6.46795 14.9244C6.92662 15.3808 7.66866 15.3792 8.12528 14.9204C8.58184 14.4617 8.58008 13.7197 8.12135 13.2631L4.0103 9.17187H28.8281C29.4754 9.17187 30 8.64722 30 8C30 7.35277 29.4754 6.82812 28.8281 6.82812Z" fill="black"></path>
                    </svg>
                  </div>
                  <div class="slide-button-next slider-control">
                    <svg class="desk-svg" width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M25.9998 0C12.1927 0 0 12.1927 0 25.9998C0 39.8068 12.1927 52 25.9998 52C39.8068 52 52 39.8068 52 25.9998C51.9844 12.1992 39.8008 0.0155639 25.9998 0ZM25.9998 48.4997C13.5734 48.4997 3.49984 38.4262 3.49984 25.9998C3.49984 13.5734 13.5734 3.49984 25.9998 3.49984C38.4262 3.49984 48.4997 13.5734 48.4997 25.9998C48.4855 38.4202 38.4202 48.4855 25.9998 48.4997Z" fill="black"/>
                      <path d="M22.529 16.0003C22.231 15.9937 21.9383 16.0801 21.6916 16.2476C21.445 16.4151 21.2567 16.6554 21.1528 16.9348C21.049 17.2143 21.0348 17.5191 21.1123 17.807C21.1897 18.0949 21.3549 18.3514 21.5849 18.5411L30.3619 26.0601L21.5849 33.5765C21.4258 33.6934 21.2926 33.8419 21.1935 34.0128C21.0945 34.1836 21.0317 34.3731 21.0093 34.5693C20.9869 34.7655 21.0052 34.9642 21.0631 35.153C21.121 35.3418 21.2172 35.5166 21.3458 35.6665C21.4744 35.8163 21.6326 35.9379 21.8104 36.0238C21.9882 36.1097 22.1818 36.158 22.3792 36.1656C22.5765 36.1732 22.7733 36.1401 22.9572 36.0682C23.1411 35.9962 23.3081 35.8871 23.4479 35.7475L33.4967 27.1499C33.6545 27.0152 33.7812 26.848 33.8681 26.6597C33.955 26.4713 34 26.2662 34 26.0588C34 25.8513 33.955 25.6463 33.8681 25.4579C33.7812 25.2695 33.6545 25.1022 33.4967 24.9676L23.4479 16.3616C23.1941 16.1361 22.8685 16.0079 22.529 16V16.0003Z" fill="black"/>
                    </svg>
                    <svg class="mobile-svg" width="30" height="16" viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.17185 9.17188L25.9897 9.17188L21.8785 13.2631C21.4198 13.7197 21.418 14.4617 21.8746 14.9204C22.3312 15.3792 23.0732 15.3809 23.5319 14.9244L29.6552 8.83063C29.6556 8.83028 29.6559 8.82987 29.6563 8.82952C30.1138 8.37295 30.1153 7.62858 29.6564 7.17049C29.656 7.17014 29.6557 7.16973 29.6553 7.16938L23.532 1.07563C23.0734 0.619184 22.3313 0.620766 21.8747 1.07961C21.4182 1.53834 21.4199 2.28032 21.8786 2.73688L25.9897 6.82813L1.17185 6.82813C0.524628 6.82813 -2.09808e-05 7.35278 -2.09808e-05 8C-2.09808e-05 8.64723 0.524628 9.17188 1.17185 9.17188Z" fill="black"></path>
                    </svg>
                  </div>
                  
                </div>
              </div>
                            
              <a href="#" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
                {%- liquid
                  if cart == empty
                    render 'icon-cart-empty'
                  else
                    render 'icon-cart'
                  endif
                -%}
                <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                {%- if cart != empty -%}
                  <div class="cart-count-bubble">
                    {%- if cart.item_count < 100 -%}
                      <span aria-hidden="true">{{ cart.item_count }}</span>
                    {%- endif -%}
                    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                  </div>
                {%- endif -%}
              </a>  
              <div class="cart-nav-header">
                  <div class="top-border-nav">
                  </div>
                  <div class="cart-body">
                      <div class="main-cart">
                        {% render 'cart-item-page-mini' %}
                      </div>
                      <div class="secondary-cart">
                        {% render 'cart-recommended-mini' %}
                      </div>
                  </div>

              </div>
            </div>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
  

</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}

{% javascript %}


var wishlistswiper = new Swiper(".wishlist-swiper", {
  slidesPerView: 2,
  slidesPerGroup: 2,
  spaceBetween: 10,
  centeredSlides: false,
  grabCursor: true,
  keyboard: {
    enabled: true,
  },
  breakpoints: {
    750: {
      slidesPerView: 3,
      slidesPerGroup: 3,
      spaceBetween: 10,
    },
    990: {
      slidesPerView: 4,
      slidesPerGroup: 4,
      spaceBetween: 20,
    }
  },
  navigation: {
    nextEl: ".slide-button-next",
    prevEl: ".slide-button-prev",
  }
});

                            
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      let self = this;
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

                            
      const menu_item = this.querySelectorAll('.list-menu>li.menu-item.parent-link');
      menu_item.forEach((mi) => {
		mi.addEventListener("mouseout", function( event ) {
			document.querySelector("header.header").style.height = "75px";
		});
		mi.addEventListener("mouseover", function( event ) {
			let list_content = mi.querySelector(".list-menu-content");
			if(list_content){
        self.querySelector(".search-pop-desk").classList.remove('show');
				let total_height = list_content.offsetHeight+document.querySelector(".header-top").offsetHeight;
				document.querySelector("header.header").style.height = (total_height+10)+"px";
			}else{
				document.querySelector("header.header").style.height = "75px";
			}
		});
      });
                            
      this.querySelector('.mobile--icon').addEventListener("click", function( event ) {
        let header_el = self.querySelector(".header");
        if (header_el.classList.contains('menu-open')) {
            header_el.classList.remove('menu-open');
        }else{
          self.querySelector(".search-pop-desk").classList.remove('show');
          header_el.classList.add('menu-open');
        }
      });
                            
      const item_list = this.querySelectorAll('.list-menu .grand-child li');
      item_list.forEach((il) => {
          let list_menu_content = il.closest(".list-menu-content");
                            
          let main_collection_title = list_menu_content.querySelector(".main--thumbs").getAttribute("data-collection-title");
          let main_collection_url = list_menu_content.querySelector(".main--thumbs").getAttribute("data-collection-url");
          let main_collection_img = list_menu_content.querySelector(".main--thumbs").getAttribute("data-collection-img");
          let main_collection_count = list_menu_content.querySelector(".main--thumbs").getAttribute("data-collection-products");
                            
          let secondary_collection_title = list_menu_content.querySelector(".secondary--thumbs").getAttribute("data-collection-title");
          let secondary_collection_url = list_menu_content.querySelector(".secondary--thumbs").getAttribute("data-collection-url");
          let secondary_collection_img = list_menu_content.querySelector(".secondary--thumbs").getAttribute("data-collection-img");
          let secondary_collection_count = list_menu_content.querySelector(".secondary--thumbs").getAttribute("data-collection-products");

          let collection_title = il.getAttribute("data-collection-title");
          let collection_url = il.getAttribute("data-collection-url");
          let collection_img = il.getAttribute("data-collection-img");
          let collection_count = il.getAttribute("data-collection-products");
          //main--thumbs secondary--thumbs
          ["mouseout"].forEach((evt)=>{
            il.addEventListener(evt, function( event ) {
                list_menu_content.classList.remove("thumbs--single");
                list_menu_content.querySelector(".main--thumbs .thumbs--title").innerHTML = main_collection_title;
                list_menu_content.querySelector(".main--thumbs a").href = main_collection_url;
                list_menu_content.querySelector(".main--thumbs img").src = main_collection_img;
                              
                list_menu_content.querySelector(".secondary--thumbs .thumbs--title").innerHTML = secondary_collection_title;
                list_menu_content.querySelector(".secondary--thumbs a").href = secondary_collection_url;
                list_menu_content.querySelector(".secondary--thumbs img").src = secondary_collection_img;
                list_menu_content.classList.remove("unknown--thumbs");
            });
          });
          ["mouseover"].forEach((evt)=>{
            il.addEventListener(evt, function( event ) {
              self.querySelector(".search-pop-desk").classList.remove('show');
                if(collection_img.indexOf('assets/no-image')!==-1){
                   list_menu_content.classList.add("unknown--thumbs");
                   return;       
                }else{
                   list_menu_content.classList.remove("unknown--thumbs");
                }
                list_menu_content.querySelector(".main--thumbs a").href = collection_url;
                list_menu_content.querySelector(".main--thumbs .thumbs--title").innerHTML = collection_title;
                list_menu_content.querySelector(".main--thumbs img").src = collection_img;
                list_menu_content.classList.add("thumbs--single");
            });
          });

      });

          // wishlist button
          // icon--wishlist  wishlist-nav
      		let wishlist_content =self.querySelector(".wishlist-nav");
        	self.querySelector(".icon--wishlist").addEventListener("mouseout", function( event ) {
                wishlist_content.classList.remove("show");
      			document.querySelector("header.header").style.height = "75px";
      		});
        	wishlist_content.addEventListener("mouseout", function( event ) {
                wishlist_content.classList.remove("show");
      			document.querySelector("header.header").style.height = "75px";
      		});
      		wishlist_content.addEventListener("mouseover", function( event ) {
      			if(wishlist_content){
              self.querySelector(".search-pop-desk").classList.remove('show');
              wishlistswiper.update();
              wishlist_content.classList.add("show");
      				let total_height = wishlist_content.offsetHeight+document.querySelector(".header-top").offsetHeight;
      				document.querySelector("header.header").style.height = (total_height+30)+"px";
      			}else{
              wishlist_content.classList.remove("show");
      				document.querySelector("header.header").style.height = "75px";
      			}
      		});
      		self.querySelector(".icon--wishlist").addEventListener("mouseover", function( event ) {
      			if(wishlist_content){
              self.querySelector(".search-pop-desk").classList.remove('show');
              wishlistswiper.update();
              wishlist_content.classList.add("show");
      				let total_height = wishlist_content.offsetHeight+document.querySelector(".header-top").offsetHeight;
      				document.querySelector("header.header").style.height = (total_height+30)+"px";
      			}else{
              wishlist_content.classList.remove("show");
      				document.querySelector("header.header").style.height = "75px";
      			}
      		});


          self.querySelector(".icon--wishlist .wishlist--bubble").addEventListener('DOMSubtreeModified', async function() {
            if(this.innerHTML=="") return;
            const wishlist = JSON.parse(localStorage.getItem('wishlist'));
            wishlist.forEach( async (d) => {
                    let wl_swiper_class = self.querySelector(`.wishlist-nav .swiper-slide.product-${d}`);
                    if(wl_swiper_class) return;
                    const response = await fetch(`${window.Shopify.routes.root}products/${d}?view=card`);
                    const text = await response.text();
                    const parser = new DOMParser();
                    const node = parser.parseFromString(text.toString(), 'text/html').querySelector('div.shopify-section .product--card');
                    const content = (node.textContent || '').trim();
                    let divswiper = document.createElement("div");
                    divswiper.classList.add(`swiper-slide`);
                    divswiper.classList.add(`product-${d}`);
                    divswiper.setAttribute('data-product-id', `${d}`);
                    divswiper.append(node);
                    self.querySelector(".wishlist-nav .swiper-wrapper").append(divswiper);   
            });
            self.querySelectorAll(".wishlist-nav .swiper-slide").forEach((d) => {
                let check_data_id = wishlist.filter(x => d.getAttribute('data-product-id')==(x));
                console.log(d.getAttribute('data-product-id'), check_data_id)
                if(check_data_id.length==0){
                  d.remove();
                }
            });
          });

          // cart button nav
          self.querySelector("#cart-icon-bubble").addEventListener("click", function( event ) {
            let cartnav_content =self.querySelector(".cart-nav-header");
            if (cartnav_content.classList.contains('show')) {
              cartnav_content.classList.remove('show');
              document.querySelector("header.header").style.height = "75px";
            }else{
              cartnav_content.classList.add('show');
              let total_height = cartnav_content.offsetHeight+document.querySelector(".header-top").offsetHeight;
              document.querySelector("header.header").style.height = (total_height+30)+"px";
            }
      		});


          // search for desktop pop
          self.querySelector(".header__search--desk").addEventListener("click", function( event ) {
              let search_el = self.querySelector(".search-pop-desk");
              if (search_el.classList.contains('show')) {
                search_el.classList.remove('show');
                  document.querySelector("header.header").style.height = "75px";
              }else{
                search_el.classList.add('show');
                  document.querySelector("header.header").style.height = "140px";
                  self.querySelector(".search-pop-desk input.search__input").focus();
              }
              
      		});
            
            
            
          // search for mobile pop
        	self.querySelector(".search-icon-wrapper").addEventListener("mouseover", function( event ) {
            document.querySelector("header.header").style.height = "130px";
      		});
        	self.querySelector(".search-icon-wrapper").addEventListener("mouseout", function( event ) {
            document.querySelector("header.header").style.height = "75px";
      		});
        	self.querySelector(".search-icon-wrapper .header-title--close .modal__close-button").addEventListener("click", function( event ) {
            document.querySelector("header.header").style.height = "75px";
      		});

          

                            
      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }


      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.header.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.header.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.header.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.header.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.header.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    }
  ]
}
{% endschema %}


{% stylesheet %}
.top-border-nav {
    width: 100%;
    border: 1px solid;
    border-image: linear-gradient(to left,rgba(217,217,217,0) 10%,rgba(0,0,0,.3) 50%,rgba(217,217,217,0) 90%) 50% 0 50% 0/1px 0px 0px 0px;
}

.header {
    display: flex !important;
    align-items: start !important;
    justify-content: space-between;
	padding: 0px !important;
	height: 75px;
  max-height: 80vh;
	transition: height 0.5s !important;
}

.header .header-top{
	height: 75px;
	padding: 0px 24px;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-top .header__inline-menu,
.header .header-top .header__inline-menu>ul.list-menu,
.header .header-top .header__inline-menu>ul.list-menu>li.menu-item,
.header .header-top .header__inline-menu>ul.list-menu>li.menu-item>a{
    height: 100%;
    align-items: center;
    display: flex;
}

.header .header-top .header__inline-menu ul.list-menu{
    height: 100%;
    align-items: center;
    display: flex;
}

.header .header-top .header__inline-menu ul.list-menu .menu-item{
    height: 100%;
    align-items: center;
    display: flex;
}

.header__heading{
    width: 170px;
}

.header__icons{
	width: auto !important;
}

.header .list-menu-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    left: -9999px;
    width: 100%;
    top: 200px;
	opacity: 0;
    z-index: -999;
    padding: 0px 30px;
	border: 1px solid;
    border-image: linear-gradient(to left,rgba(217, 217, 217, 0) 10%, rgba(0,0,0,0.3) 50%, rgba(217, 217, 217, 0) 90%) 50% 0 50% 0/1px 0px 0px 0px;
	transition: top 0.5s !important;
  max-width: 1300px;
  width: 0px;
}

.default.hide{
    display: none;
}
        
.list-child{
	width: 60%;
	justify-content: space-between;
}

.mega-thumbs-container{
    width: 40%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mega-thumbs-container .thumbs--images {
    padding: 10px;
    width: 50%;
    display: grid;
    align-items: center;
}

.mega-thumbs-container .thumbs--images a{
    text-decoration: none;
}

.mega-thumbs-container .thumbs--images img{
    width: 100%;
    max-height: 260px;
}

.list-menu-content.thumbs--single .mega-thumbs-container .thumbs--images {
    width: 100% !important;
}

.list-menu-content.unknown--thumbs .mega-thumbs-container .thumbs--images {
    opacity: 0 !important;
}
        
.list-menu-content.thumbs--single .mega-thumbs-container .thumbs--images.main--thumbs,
.list-menu-content.thumbs--single .mega-thumbs-container .thumbs--images.secondary--thumbs{
    animation: thumbsanimation 500ms;
}

@keyframes thumbsanimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
        
.list-menu-content.thumbs--single .mega-thumbs-container .secondary--thumbs.thumbs--images {
    display: none !important;
}
        
.list-menu ul{
    list-style: none;
	padding: 0;
    margin: 0;
}

.list-menu-content ul.grand-child {
    padding-left: 0px !important;
}

.header .header-top ul.list-menu li.menu-item:hover .list-menu__item {
    text-decoration-thickness: .2rem;
    text-decoration: underline;
    text-underline-offset: .3rem;
}

.header__menu-item:hover span{
    text-decoration: none !important;
}

.header .header-top .header__inline-menu>ul.list-menu>li.menu-item:hover .list-menu-content{
    max-height: 575px;
    overflow-y: auto;
    top: 75px;
    opacity: 1;
    z-index: 99;
    width: 100%;
    left: 0;
}

@media not all and (min-resolution:.001dpcm) { 
  @media {
    .header .list-menu-content {
      transform: translate(-50%,0%);
      padding: 0px 50px;
    }
    .header .header-top .header__inline-menu>ul.list-menu>li.menu-item:hover .list-menu-content{
      left: 50%;
    }
  }
}

        
.grand-child li a:before{
	content: "";
    position: absolute;
    height: 15px;
    width: 1px;
	border-left: 2px solid #000000;
    margin-left: -30px;
	opacity: 0;
    transform: scaleY(0);
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.grand-child li:hover a:before{
    margin-left: -10px; 
	opacity: 1;
    transform: scaleY(1);
}
.grand-child li:hover a{
	font-weight: 600;
}

.list-menu-content li a {
    text-decoration: none;
    color: black;
    transition-property: all;
    transition-duration: 50ms;
    transition-timing-function: linear;
	transition-delay: 150ms;
}

.list-menu ul.list-child{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid;
    border-image: linear-gradient(to top,rgba(217,217,217,0) 10%,rgba(0,0,0,.3) 50%,rgba(217,217,217,0) 90%);
    border-image-width: 100% 1px 0px 0px;
}

.list-menu-content h2.child-header{
	font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
	text-underline-offset: 6px;
	text-decoration-thickness: 1px;
}

.grand-child li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    #margin-bottom: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}

.list-child>li{
    width: 25%;
}

.thumbs--info {
    position: relative;
    margin-top: -150px;
    z-index: 999 !important;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    color: white;
}

.thumbs--info h2.thumbs--title {
    color: white;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.wishlist-nav .slider-control .desk-svg{
  display: block;
}
.wishlist-nav .slider-control .mobile-svg{
  display: none;
}
        
@media only screen and (max-width: 1300px){
  .thumbs--info {
    margin-top: -60px;
    height: 60px;
  }
  .thumbs--info h2.thumbs--title {
    font-size: 16px;
  }
}
        
@media only screen and (max-width: 989px){
    .list-child{
    	width: 100%;
        border: 0px solid !important;
    }
    .mega-thumbs-container{
        width: 100%;
    }
    .thumbs--info {
      margin-top: -40px;
      height: 40px;
    }
    .list-child>li{
        width: 50%;
    }
    header-drawer{
      width: 85px !important;
      display: flex;
    }
    .header__inline-menu{
        width: 100%;
    }

    .header__search--desk{
      display: none !important;
    }
        
    .header.menu-open .mobile-nav-active-hide,
    .header .header__inline-menu{
        display: none !important;
    }

    .header.menu-open .header__inline-menu{
        display: flex !important;
    }
        
    .header .mobile--icon svg:nth-child(1),
    .header.menu-open .mobile--icon svg:nth-child(2){
        display: block;
        visibility: visible !important;
        opacity: 1;
        transform: scale(1);
        z-index: 2;
    }

    .header.menu-open .mobile--icon svg.icon-close{ 
      transform: scale(0.7) !important;
    }
        
    .header .mobile--icon svg:nth-child(2),
    .header.menu-open .mobile--icon svg:nth-child(1){
        opacity: 0;
        transform: scale(0.1);
        z-index: -1;
    }
    
    .wishlist-nav .slide-button-prev{
      position: absolute !important;
      top: auto !important;
      display: block;
    }
    .wishlist-nav .slide-button-next {
      position: absolute !important;
      top: auto !important;
      display: block;
    }

    .wishlist-nav .slider-control .desk-svg{
      display: none;
    }
    .wishlist-nav .slider-control .mobile-svg{
      display: block;
    }
    
       
}


@media only screen and (max-width: 519px){
    .thumbs--info h2.thumbs--title{
        font-size: 14px;
    }
    .mega-thumbs-container .thumbs--images{
        #width: 50%;
    }
}

.header__icons .icon--wishlist{
    cursor: pointer;
}

.wishlist-nav {
    position: absolute;
    left: -9999px;
    width: 100%;
    top: 200px;
    opacity: 0;
    z-index: -999;
    padding: 22px 30px 0 30px;
    transition-property: top !important;
    transition-duration: 0.5s !important;
    transition-delay: 0s !important;
    max-width: 1300px;
}

.wishlist-nav.show {
    top: 50px;
    opacity: 1;
    z-index: 7;
    left: 0;
}

@media not all and (min-resolution:.001dpcm) { 
  @media {
    .wishlist-nav {
      transform: translate(-50%,0%);
      padding: 12px 50px 0 50px;
    }
    .wishlist-nav.show {
      left: 50%;
    }
  }
}

.wishlist--title h2 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;
}
.wishlist-nav .wishlist-silder {
    width: 90%;
    margin-left: 5%;
}
.wishlist-nav .wishlist-silder figure img{
    min-height: 160px;
}
.wishlist-nav .slide-button-prev{
  position: absolute;
  top: 50%;
  left: 10px !important;
  cursor: pointer;
}
.wishlist-nav .slide-button-next {
  position: absolute;
  top: 50%;
  right: 10px !important;
  cursor: pointer;
}

.cart-nav-header {
    position: absolute;
    max-height: 610px;
    overflow-y: auto;
    overflow-x: hidden;
    left: -9999px;
    width: 100%;
    top: 200px;
    opacity: 0;
    z-index: -999;
    padding: 12px 30px 0;
    transition-property: top, width, opacity, z-index !important;
    transition-duration: 0.5s, 0.1s, 0.5s, 0.5s !important;
    transition-delay: 0s, 0s, 0s, 0s !important;
    max-width: 1300px;
}

.cart-nav-header.show {
    top: 60px;
    opacity: 1;
    z-index: 7;
    left: 0;
}

@media not all and (min-resolution:.001dpcm) { 
  @media {
    .cart-nav-header {
      transform: translate(-50%,0%);
      padding: 12px 50px 0 50px;
    }
    .cart-nav-header.show {
      left: 50%;
    }
    .wishlist-nav .slide-button-prev{
        left: 40px !important;
    }
    .wishlist-nav .slide-button-next {
        right: 40px !important;
    }
  }
}

@media only screen and (max-width: 989px){
  .cart-nav-header {
    padding: 0 15px;
  }
  .wishlist-nav{
    padding: 22px 5px 0;
  }
  .wishlist-nav .wishlist--title{
    padding: 0 20px;
  }
}
        
.cart-nav-header .cart-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
        
.cart-nav-header .cart-body .main-cart{
    width: 60%;
    border: 1px solid;
    border-image: linear-gradient(to top,rgba(217,217,217,0) 10%,rgba(0,0,0,.3) 50%,rgba(217,217,217,0) 90%);
    border-image-width: 100% 1px 0px 0px;
    padding: 20px;
}
        
.cart-nav-header .cart-body .secondary-cart{
    width: 40%;
}

@media only screen and (max-width: 989px){
  .cart-nav-header .cart-body .main-cart{
      width: 100%;
      padding: 0;
  }
          
  .cart-nav-header .cart-body .secondary-cart{
      width: 100%;
  }
}

/*
.wishlist-nav .product--media-featured{
  position: relative;
  padding-top: calc((100% / 3) * 4);
}
*/
.wishlist-nav .product--card-media {
  position: relative;
  padding-top: calc((100% / 3) * 4);
}

.wishlist-nav .product--card-media > div {
  position: initial;
}

.wishlist-nav .product--media-wrapper figure{
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
}

.search-pop-desk {
  position: absolute;
  left: -9999px;
  width: 100%;
  top: 200px;
  opacity: 0;
  z-index: -999;
  padding: 22px 30px 0;
  transition-property: top!important;
  transition-duration: .5s!important;
  transition-delay: 0s!important;
  max-width: 1300px;
}

.search-pop-desk.show {
  top: 60px;
  opacity: 1;
  z-index: 7;
  left: 0;
}

.mobile--icon.search-icon-wrapper{
  width: 100%;
  height: 100%;
  padding: 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-modal.mobile--devices .search-modal__content{
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 10px;
}

.search-modal.mobile--devices .search-modal__content .header-title--close{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-modal__form .field:after,
.search-modal__form .field:hover.field:after{
  box-shadow: none;
  border: none;
}

.search-modal__form .field input:focus{
	border-color: inherit;
    -webkit-box-shadow: none;
	box-shadow: none;
}

.search-modal__form .field svg.icon-search{
  width: 32px;
  height: 32px;
  transform: scale(0.8);
}

form.search-modal__form{
  max-width: 100%;
  width: 100%;
}

.header__search .modal__toggle-open.icon-search{
  width: 32px !important;
  height: 32px !important;
}

.search-modal__form .search__input.field__input{
  padding-right: 5rem;
  background: none;
}

{% endstylesheet %}